<h3 class="item-name food-category">{{item.foodCategory}}</h3>
<h4 class="food-name">{{item.name}} ${{item.price}}</h4>
<p class="food-name">{{item.description}}</p>
{{menu-items/update-item item=item text="Update this item" updateMenuItem='updateMenuItem'}}
{{item-delete-button-confirmation item=item text="Delete This Item" deleteItemConfirm='deleteItem'}}
