<h2>{{model.title}}</h2>
{{menu-item-create-form menu=model createMenuItem='createMenuItem'}}
<ul>
  {{#each model.menuItems as |item|}}
    <li>{{item.name}} ${{item.price}}</li>
    {{item.description}}
    {{!-- component here? --}}
  {{/each}}
</ul>
{{#link-to 'menus'}}Back to Menus{{/link-to}}
